
$white: #ffffff;

$gray-100: #f8f8f8;
$gray-200: #e4e4e4;
$gray-300: #cccccc;
$gray-500: #a6a6a6;
$gray-700: #707070;
$gray-800: #575757;
$gray-900: #3b3b3b;

.bg-gray-100 {
	background-color: $gray-100;
} 
.bg-gray-200 {
	background-color: $gray-200;
} 
.bg-gray-300 {
	background-color: $gray-300;
} 
.bg-gray-500 {
	background-color: $gray-500;
} 
.bg-gray-700 {
	background-color: $gray-700;
} 
.bg-gray-800 {
	background-color: $gray-800;
} 
.bg-gray-900 {
	background-color: $gray-900;
} 

$orange: #f7941e;
$orange-100: #ffefe0;
$orange-200: #ffe0c1;
$orange-300: #ffd0a2;
$orange-500: #ffb265;
$orange-700: #f7941e;
$orange-800: #d77a00;
$orange-900: #a95400;

.bg-orange {
	background-color: $orange;
}
.bg-orange-100 {
	background-color: $orange-100;
} 
.bg-orange-200 {
	background-color: $orange-200;
} 
.bg-orange-300 {
	background-color: $orange-300;
} 
.bg-orange-500 {
	background-color: $orange-500;
} 
.bg-orange-700 {
	background-color: $orange-700;
} 
.bg-orange-800 {
	background-color: $orange-800;
} 
.bg-orange-900 {
	background-color: $orange-900;
}
$red: #d93820;