/* reset */
body, h1, h2, h3, h4, h5, h6, p, a, ol, ul, li, span, button {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background: none;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.bg-gray-100 {
  background-color: #f8f8f8;
}

.bg-gray-200 {
  background-color: #e4e4e4;
}

.bg-gray-300 {
  background-color: #cccccc;
}

.bg-gray-500 {
  background-color: #a6a6a6;
}

.bg-gray-700 {
  background-color: #707070;
}

.bg-gray-800 {
  background-color: #575757;
}

.bg-gray-900 {
  background-color: #3b3b3b;
}

.bg-orange {
  background-color: #f7941e;
}

h1,
.h1-style,
h2,
.h2-style,
h3,
.h3-style,
h4,
.h4-style {
  font-family: 'Lato', sans-serif;
  color: #3b3b3b;
}

h1,
.h1-style {
  font-weight: 300;
  font-size: 36px;
  line-height: 1.2em;
  margin-top: .6em;
}

h1.dark,
.h1-style.dark {
  background-color: #3b3b3b;
  color: #ffffff;
}

h2,
.h2-style {
  font-weight: 700;
  font-size: 24px;
  margin-top: .4em;
}

h2.dark,
.h2-style.dark {
  background-color: #3b3b3b;
  color: #ffffff;
}

h3,
.h3-style {
  font-weight: 400;
  font-size: 24px;
  margin-top: .3em;
}

h3.dark,
.h3-style.dark {
  background-color: #3b3b3b;
  color: #ffffff;
}

h4,
.h4-style {
  color: #707070;
  font-weight: 700;
  font-size: 20px;
  margin-top: .3em;
}

h4.dark,
.h4-style.dark {
  background-color: #3b3b3b;
  color: #ffffff;
}

h5,
.h5-style {
  color: #707070;
  font-weight: 400;
  font-size: 18px;
  margin-top: .3em;
}

h5.dark,
.h5-style.dark {
  background-color: #3b3b3b;
  color: #ffffff;
}

section {
  width: 94%;
  margin: auto;
}

li {
  list-style: circle;
  margin-top: .5em;
}

p,
.p-style,
li,
span,
a {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #575757;
}

/* div::before{
	padding: 2em 0;
	content: "";
} */
p.dark,
.p-style.dark {
  background-color: #3b3b3b;
  color: #ffffff;
}

p,
.p-style {
  margin-top: 1em;
}

a,
.a-style {
  cursor: pointer;
  line-height: inherit;
  margin: inherit;
  padding: inherit;
  color: inherit;
  font-size: 1.05em;
  -webkit-transition: border .2s ease-in,background-size .2s ease-in;
  transition: border .2s ease-in,background-size .2s ease-in;
  background: linear-gradient(120deg, #ffe0c1 0%, #ffe0c1 100%) no-repeat;
  background-position: 0 100%;
  background-size: 100% 0;
  -webkit-transition: .5s;
  transition: .5s;
  border-bottom: 1px solid;
  color: #0077b3;
  color: #d77a00;
  padding-bottom: .1em;
  text-decoration: none;
}

a:hover, a:focus,
.a-style:hover,
.a-style:focus {
  background-size: 100% 100%;
  border-bottom: 0 solid rgba(217, 56, 32, 0.2);
  color: #575757;
}

a.dark,
.a-style.dark {
  color: #ffb265;
  background: linear-gradient(120deg, rgba(247, 148, 30, 0.4) 0%, rgba(247, 148, 30, 0.4) 100%) no-repeat;
  background-position: 0 100%;
  background-size: 100% 0;
}

a.dark:hover, a.dark:focus,
.a-style.dark:hover,
.a-style.dark:focus {
  background-size: 100% 100%;
  border-bottom: 0 solid rgba(247, 148, 30, 0.8);
  color: #f8f8f8;
}

.flex-row-1-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-row-1-1 > * {
  min-width: 50%;
  text-align: center;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.color-row > div {
  padding: 20px 10px;
}

.accordian {
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.accordian button {
  color: #575757;
  background: #f8f8f8;
  padding: .5em;
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  margin-top: .5em;
}

.accordian > *:not(.accordian-show-content) {
  display: none;
}

.button-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}

.button-row .primary-btn {
  border: 1px solid #3b3b3b;
  border-radius: 8px;
  padding: 10px 20px;
  -webkit-box-shadow: 10px 10px #f7941e;
          box-shadow: 10px 10px #f7941e;
  font-size: 18px;
  -webkit-transform: translate(-5px 5px);
          transform: translate(-5px 5px);
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.button-row .primary-btn:hover {
  -webkit-box-shadow: 3px 3px #f7941e;
          box-shadow: 3px 3px #f7941e;
  -webkit-transform: translate(-2px 2px);
          transform: translate(-2px 2px);
}

.sm {
  display: block;
}

.md, .lg {
  display: none;
}

@media only screen and (min-width: 728px) {
  section {
    width: 90%;
    margin: auto;
  }
  h1, .h1-style {
    font-size: 46px;
  }
  h2, .h2-style {
    font-size: 26px;
  }
  h3, .h3-style {
    font-size: 24px;
  }
  h4, .h4-style {
    font-size: 20px;
  }
  h5, .h5-style {
    font-size: 18px;
  }
  .primary-btn {
    font-size: 20px;
  }
  .sm, .lg {
    display: none;
  }
  .md {
    display: block;
  }
}

@media only screen and (min-width: 1025px) {
  section {
    max-width: 1280px;
  }
  h1, .h1-style {
    font-size: 64px;
  }
  h2, .h2-style {
    font-size: 28px;
  }
  h3, .h3-style {
    font-size: 26px;
  }
  h4, .h4-style {
    font-size: 22px;
  }
  h5, .h5-style {
    font-size: 18px;
  }
  .primary-btn {
    font-size: 22px;
  }
  .md {
    display: none;
  }
  .lg {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */