body, h1, h2, h3, h4, h5, h6, p, a, ol, ul, li, span, button {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background: none;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.bg-gray-100 {
  background-color: #f8f8f8;
}

.bg-gray-200 {
  background-color: #e4e4e4;
}

.bg-gray-300 {
  background-color: #cccccc;
}

.bg-gray-500 {
  background-color: #a6a6a6;
}

.bg-gray-700 {
  background-color: #707070;
}

.bg-gray-800 {
  background-color: #575757;
}

.bg-gray-900 {
  background-color: #3b3b3b;
}

.bg-orange {
  background-color: #f7941e;
}

.bg-orange-100 {
  background-color: #ffefe0;
}

.bg-orange-200 {
  background-color: #ffe0c1;
}

.bg-orange-300 {
  background-color: #ffd0a2;
}

.bg-orange-500 {
  background-color: #ffb265;
}

.bg-orange-700 {
  background-color: #f7941e;
}

.bg-orange-800 {
  background-color: #d77a00;
}

.bg-orange-900 {
  background-color: #a95400;
}

h1,
.h1-style,
h2,
.h2-style,
h3,
.h3-style,
h4,
.h4-style {
  font-family: 'Lato', sans-serif;
}

h1,
.h1-style {
  color: #3b3b3b;
  font-weight: 300;
  line-height: 1.2em;
  margin-top: .6em;
}

h1.dark,
.h1-style.dark {
  background-color: #3b3b3b;
  color: #ffffff;
}

@media (max-width: 768px) {
  h1,
  .h1-style {
    font-size: 36px;
  }
}

@media (min-width: 768px) {
  h1,
  .h1-style {
    font-size: 46px;
  }
}

@media (min-width: 1024px) {
  h1,
  .h1-style {
    font-size: 64px;
  }
}

.h1-subhead-style {
  color: #707070;
  font-weight: 400;
  line-height: 1.2em;
  margin-top: .3em;
}

.h1-subhead-style.dark {
  background-color: #3b3b3b;
  color: #ffffff;
}

@media (max-width: 768px) {
  .h1-subhead-style {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .h1-subhead-style {
    font-size: 22px;
  }
}

@media (min-width: 1024px) {
  .h1-subhead-style {
    font-size: 24px;
  }
}

h2,
.h2-style {
  color: #3b3b3b;
  font-weight: 700;
  margin: 1.5em 0;
  padding-bottom: 10px;
  -webkit-box-shadow: 0 5px 0 0 #ffd0a2;
          box-shadow: 0 5px 0 0 #ffd0a2;
}

h2.dark,
.h2-style.dark {
  background-color: #3b3b3b;
  color: #ffffff;
}

h2.dark,
.h2-style.dark {
  -webkit-box-shadow: 0 5px 0 0 #ffb265;
          box-shadow: 0 5px 0 0 #ffb265;
}

@media (max-width: 768px) {
  h2,
  .h2-style {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  h2,
  .h2-style {
    font-size: 26px;
  }
}

@media (min-width: 1024px) {
  h2,
  .h2-style {
    font-size: 28px;
  }
}

h3,
.h3-style {
  color: #3b3b3b;
  font-weight: 400;
  margin-top: .3em;
}

h3.dark,
.h3-style.dark {
  background-color: #3b3b3b;
  color: #ffffff;
}

@media (max-width: 768px) {
  h3,
  .h3-style {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  h3,
  .h3-style {
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
  h3,
  .h3-style {
    font-size: 26px;
  }
}

h4,
.h4-style {
  color: #707070;
  font-weight: 400;
  margin-top: .3em;
}

h4.dark,
.h4-style.dark {
  background-color: #3b3b3b;
  color: #ffffff;
}

@media (max-width: 768px) {
  h4,
  .h4-style {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  h4,
  .h4-style {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  h4,
  .h4-style {
    font-size: 22px;
  }
}

h5,
.h5-style {
  font-weight: 400;
  margin-top: .3em;
}

h5.dark,
.h5-style.dark {
  background-color: #3b3b3b;
  color: #ffffff;
}

@media (max-width: 768px) {
  h5,
  .h5-style {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  h5,
  .h5-style {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  h5,
  .h5-style {
    font-size: 18px;
  }
}

.wide-wrap {
  width: auto;
  margin: auto;
  padding: 0 10px;
}

@media only screen and (min-width: 500px) {
  .wide-wrap {
    padding: 0 calc(10.4vw - 42px);
  }
}

@media only screen and (min-width: 1025px) {
  .wide-wrap {
    padding: 0 75px;
  }
}

.full-wrap {
  width: 100%;
  margin: 0;
  padding: 0;
}

.content-wrap {
  width: auto;
  margin: auto;
  padding: 0 10px;
}

@media only screen and (min-width: 500px) {
  .content-wrap {
    padding: 0 calc(10.4vw - 42px);
  }
}

@media only screen and (min-width: 1025px) {
  .content-wrap {
    padding: 0 75px;
    max-width: 1130px;
  }
}

.grid-demo {
  background: #ffdddd;
}

li {
  padding-left: .5em;
  list-style: circle;
  margin: 1em 1.5em 0;
}

p,
.p-style,
li,
span,
a {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #575757;
}

/* div::before{
	padding: 2em 0;
	content: "";
} */
p.dark,
.p-style.dark {
  background-color: #3b3b3b;
  color: #ffffff;
}

p,
.p-style {
  margin-top: 1em;
}

a,
.a-style {
  cursor: pointer;
  line-height: inherit;
  margin: inherit;
  padding: inherit;
  color: inherit;
  font-size: 1.05em;
  background: linear-gradient(120deg, #ffd0a2 0%, #ffe0c1 100%) no-repeat;
  background-position: 0 100%;
  background-size: 100% 0;
  border-bottom: 1px solid;
  color: #d77a00;
  padding-bottom: .1em;
  text-decoration: none;
  -webkit-transition: border .4s ease-in-out, background-size .4s ease-in-out;
  transition: border .4s ease-in-out, background-size .4s ease-in-out;
}

a:hover, a:focus,
.a-style:hover,
.a-style:focus {
  background-size: 100% 100%;
  border-bottom: 0 solid rgba(217, 56, 32, 0.2);
  color: #575757;
}

a.dark,
.a-style.dark {
  color: #ffb265;
  background: linear-gradient(120deg, #ffb265 0%, #ffb265 100%) no-repeat;
  background-position: 0 100%;
  background-size: 100% 0;
}

a.dark:hover, a.dark:focus,
.a-style.dark:hover,
.a-style.dark:focus {
  background-size: 100% 100%;
  border-bottom: 0 solid rgba(255, 178, 101, 0.8);
  color: #3b3b3b;
}

.block-link {
  background: none;
  border: none;
  display: inline-block;
  color: #f7941e;
  cursor: pointer;
  font-size: 1.3em;
  font-weight: 600;
  line-height: 1.3;
  margin: 2em 0 0 3px;
  overflow: visible;
  padding: .1em 1em 0;
  position: relative;
  text-decoration: none;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
  z-index: 1;
}

.block-link::before {
  background: #f7941e;
  border-radius: 8px;
  bottom: -1px;
  content: "";
  display: block;
  outline: 1px solid transparent;
  position: absolute;
  top: 1px;
  left: 0;
  width: 2px;
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
  -webkit-transition: background .3s ease-in-out, width .3s ease-in-out;
  transition: background .3s ease-in-out, width .3s ease-in-out;
  z-index: -1;
}

.block-link:hover, .block-link:focus {
  color: #3b3b3b;
  outline: none;
}

.block-link:hover::before, .block-link:focus::before {
  background: #ffd0a2;
  width: 100%;
}

.flex-row-1-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-row-1-1 > * {
  min-width: 50%;
  text-align: center;
}

.flex-row-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-row-3 > * {
  min-width: 33.33%;
  text-align: center;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accordian {
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.accordian button {
  color: #575757;
  background: #f8f8f8;
  padding: .5em;
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  margin-top: .5em;
}

.accordian > *:not(.accordian-show-content) {
  display: none;
}

.button-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}

.button-row .primary-btn {
  border: 1px solid #3b3b3b;
  border-radius: 8px;
  padding: 10px 20px;
  -webkit-box-shadow: 10px 10px #f7941e;
          box-shadow: 10px 10px #f7941e;
  font-size: 18px;
  -webkit-transform: translate(-5px 5px);
          transform: translate(-5px 5px);
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

@media (max-width: 768px) {
  .button-row .primary-btn {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .button-row .primary-btn {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .button-row .primary-btn {
    font-size: 22px;
  }
}

.button-row .primary-btn:hover {
  -webkit-box-shadow: 3px 3px #f7941e;
          box-shadow: 3px 3px #f7941e;
  -webkit-transform: translate(-2px 2px);
          transform: translate(-2px 2px);
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.color-row > div {
  padding: 20px 10px;
}
/*# sourceMappingURL=main.css.map */